In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import matplotlib.pyplot as plt
import matplotlib
import sklearn

In [3]:
all_files = glob.glob('**/*.csv', recursive=True)

For load files, I found a small error in file 'cycling\dataset14.csv', 'cycling\dataset9.csv',
by correct it manually, I can load data smoothly.

1.(a)Loading files

In [6]:
all_dfs = []
for file in all_files:
    print(file)
    all_dfs.append(pd.read_csv(file,skiprows=4))

print(len(all_dfs))

bending1\dataset1.csv
bending1\dataset2.csv
bending1\dataset3.csv
bending1\dataset4.csv
bending1\dataset5.csv
bending1\dataset6.csv
bending1\dataset7.csv
bending2\dataset1.csv
bending2\dataset2.csv
bending2\dataset3.csv
bending2\dataset4.csv
bending2\dataset5.csv
bending2\dataset6.csv
cycling\dataset1.csv
cycling\dataset10.csv
cycling\dataset11.csv
cycling\dataset12.csv
cycling\dataset13.csv

cycling\dataset14.csv
cycling\dataset15.csv
cycling\dataset2.csv
cycling\dataset3.csv
cycling\dataset4.csv
cycling\dataset5.csv
cycling\dataset6.csv
cycling\dataset7.csv
cycling\dataset8.csv
cycling\dataset9.csv
lying\dataset1.csv
lying\dataset10.csv
lying\dataset11.csv
lying\dataset12.csv
lying\dataset13.csv
lying\dataset14.csv
lying\dataset15.csv
lying\dataset2.csv
lying\dataset3.csv
lying\dataset4.csv
lying\dataset5.csv
lying\dataset6.csv
lying\dataset7.csv
lying\dataset8.csv
lying\dataset9.csv

sitting\dataset1.csv
sitting\dataset10.csv
sitting\dataset11.csv
sitting\dataset12.csv

sitting\dataset13.csv
sitting\dataset14.csv
sitting\dataset15.csv
sitting\dataset2.csv
sitting\dataset3.csv
sitting\dataset4.csv
sitting\dataset5.csv
sitting\dataset6.csv
sitting\dataset7.csv
sitting\dataset8.csv
sitting\dataset9.csv
standing\dataset1.csv
standing\dataset10.csv
standing\dataset11.csv
standing\dataset12.csv
standing\dataset13.csv
standing\dataset14.csv
standing\dataset15.csv
standing\dataset2.csv
standing\dataset3.csv
standing\dataset4.csv
standing\dataset5.csv
standing\dataset6.csv
standing\dataset7.csv
standing\dataset8.csv
standing\dataset9.csv
walking\dataset1.csv
walking\dataset10.csv
walking\dataset11.csv
walking\dataset12.csv
walking\dataset13.csv
walking\dataset14.csv
walking\dataset15.csv
walking\dataset2.csv
walking\dataset3.csv
walking\dataset4.csv
walking\dataset5.csv
walking\dataset6.csv
walking\dataset7.csv
walking\dataset8.csv
walking\dataset9.csv
88

1.(b) Divide files into test data and train data.

In [7]:
test_series = [0,1,7,8,13,20,21,28,35,36,43,50,51,58,65,66,73,80,81]
for i in test_series:
    print(all_files[i])

bending1\dataset1.csv
bending1\dataset2.csv
bending2\dataset1.csv
bending2\dataset2.csv
cycling\dataset1.csv
cycling\dataset2.csv
cycling\dataset3.csv
lying\dataset1.csv
lying\dataset2.csv
lying\dataset3.csv
sitting\dataset1.csv
sitting\dataset2.csv
sitting\dataset3.csv
standing\dataset1.csv
standing\dataset2.csv
standing\dataset3.csv
walking\dataset1.csv
walking\dataset2.csv
walking\dataset3.csv

In [8]:
test_dfs = []
train_dfs = []

for i in range(0,88):
    if i in test_series:
        test_dfs.append(all_dfs[i])
    else:
        train_dfs.append(all_dfs[i])
        
print(len(test_dfs))
print(len(train_dfs))

19
69

In [9]:
all_dfs[0].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Columns: time</th>
      <th>avg_rss12</th>
      <th>var_rss12</th>
      <th>avg_rss13</th>
      <th>var_rss13</th>
      <th>avg_rss23</th>
      <th>var_rss23</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>480.000000</td>
      <td>480.000000</td>
      <td>480.000000</td>
      <td>480.000000</td>
      <td>480.000000</td>
      <td>480.000000</td>
      <td>480.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>59875.000000</td>
      <td>40.624792</td>
      <td>0.358604</td>
      <td>19.040937</td>
      <td>0.832542</td>
      <td>34.311292</td>
      <td>0.570583</td>
    </tr>
    <tr>
      <th>std</th>
      <td>34677.081769</td>
      <td>1.476967</td>
      <td>0.322605</td>
      <td>4.462952</td>
      <td>0.965659</td>
      <td>2.188449</td>
      <td>0.582915</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>37.250000</td>
      <td>0.000000</td>
      <td>4.000000</td>
      <td>0.000000</td>
      <td>27.250000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>29937.500000</td>
      <td>39.250000</td>
      <td>0.000000</td>
      <td>16.000000</td>
      <td>0.000000</td>
      <td>33.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>59875.000000</td>
      <td>40.500000</td>
      <td>0.430000</td>
      <td>19.250000</td>
      <td>0.500000</td>
      <td>35.000000</td>
      <td>0.430000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>89812.500000</td>
      <td>42.000000</td>
      <td>0.500000</td>
      <td>23.250000</td>
      <td>1.120000</td>
      <td>36.000000</td>
      <td>1.300000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>119750.000000</td>
      <td>45.000000</td>
      <td>1.300000</td>
      <td>29.500000</td>
      <td>7.230000</td>
      <td>38.250000</td>
      <td>1.920000</td>
    </tr>
  </tbody>
</table>
</div>

1.(c)Feature Extraction

i. Research

By research on Internet, in paper[1], researchers used 
1.Mean Absolute Value (MAV) 2.Root Mean Square (RMS)  3.Mean  4.Variance (VAR) 
5.Standard Deviation (STD) 6.Simple Sign Integral (SSI) 
etc.

[1]Analysis of Statistical Time-Domain Features Effectiveness in Identification of Bearing Faults From Vibration Signal
IEEE SENSORS JOURNAL, VOL. 17, NO. 17, SEPTEMBER 1, 2017
B. R. Nayana and P. Geethanjali, Member, IEEE

ii. Extract the time-domain features

In [16]:
features = pd.DataFrame(columns=['min1','max1','mean1','median1','std1','1stquart1','3rdquart1',
                                 'min2','max2','mean2','median2','std2','1stquart2','3rdquart2',
                                 'min3','max3','mean3','median3','std3','1stquart3','3rdquart3',
                                 'min4','max4','mean4','median4','std4','1stquart4','3rdquart4',
                                 'min5','max5','mean5','median5','std5','1stquart5','3rdquart5',
                                 'min6','max6','mean6','median6','std6','1stquart6','3rdquart6'])
for i in range(0,len(all_dfs)):
    df = all_dfs[i]
    dict = {}
    for j in range(1,7):
        dict['min'+str(j)] = df[df.columns[j]].min(axis = 0)
        dict['max'+str(j)] = df[df.columns[j]].max(axis = 0)
        dict['mean'+str(j)] = df[df.columns[j]].mean(axis = 0)
        dict['median'+str(j)] = df[df.columns[j]].median(axis = 0)
        dict['std'+str(j)] = df[df.columns[j]].std(axis = 0)
        dict['1stquart'+str(j)] = df[df.columns[j]].quantile(0.25)
        dict['3rdquart'+str(j)] = df[df.columns[j]].quantile(0.75)
        
    features = features.append(pd.DataFrame(dict,index=[i + 1]))

In [16]:
features.shape

(88, 42)

iii. 

Use your judgement to select the three most important time-domain features.

In [17]:
features.iloc[:,0:6].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1stquart1</th>
      <th>1stquart2</th>
      <th>1stquart3</th>
      <th>1stquart4</th>
      <th>1stquart5</th>
      <th>1stquart6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.00000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>37.01983</td>
      <td>0.745398</td>
      <td>12.110682</td>
      <td>0.719034</td>
      <td>13.826761</td>
      <td>0.902017</td>
    </tr>
    <tr>
      <th>std</th>
      <td>6.15359</td>
      <td>0.946386</td>
      <td>4.220658</td>
      <td>0.843620</td>
      <td>6.096465</td>
      <td>0.758584</td>
    </tr>
    <tr>
      <th>min</th>
      <td>23.18750</td>
      <td>0.000000</td>
      <td>2.500000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>31.62750</td>
      <td>0.000000</td>
      <td>10.250000</td>
      <td>0.000000</td>
      <td>11.295000</td>
      <td>0.430000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>39.20000</td>
      <td>0.430000</td>
      <td>13.250000</td>
      <td>0.430000</td>
      <td>14.000000</td>
      <td>0.470000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>42.00000</td>
      <td>1.300000</td>
      <td>14.250000</td>
      <td>1.705625</td>
      <td>15.500000</td>
      <td>1.670000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>48.00000</td>
      <td>2.870000</td>
      <td>20.500000</td>
      <td>2.170000</td>
      <td>35.362500</td>
      <td>2.240000</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
features.iloc[:,6:12].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>3rdquart1</th>
      <th>3rdquart2</th>
      <th>3rdquart3</th>
      <th>3rdquart4</th>
      <th>3rdquart5</th>
      <th>3rdquart6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.00000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>41.197216</td>
      <td>1.976080</td>
      <td>16.733722</td>
      <td>1.998920</td>
      <td>18.52821</td>
      <td>2.142614</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.138925</td>
      <td>2.125266</td>
      <td>4.171628</td>
      <td>1.552504</td>
      <td>5.53172</td>
      <td>1.523599</td>
    </tr>
    <tr>
      <th>min</th>
      <td>26.500000</td>
      <td>0.000000</td>
      <td>6.000000</td>
      <td>0.470000</td>
      <td>5.54250</td>
      <td>0.500000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>38.250000</td>
      <td>0.500000</td>
      <td>15.000000</td>
      <td>0.830000</td>
      <td>16.64250</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>40.250000</td>
      <td>0.500000</td>
      <td>17.585000</td>
      <td>1.120000</td>
      <td>18.28125</td>
      <td>1.220000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>45.000000</td>
      <td>3.766250</td>
      <td>19.000000</td>
      <td>4.007500</td>
      <td>20.75000</td>
      <td>4.043125</td>
    </tr>
    <tr>
      <th>max</th>
      <td>54.000000</td>
      <td>6.105000</td>
      <td>24.372500</td>
      <td>4.440000</td>
      <td>36.50000</td>
      <td>4.617500</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
features.iloc[:,12:18].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>max1</th>
      <th>max2</th>
      <th>max3</th>
      <th>max4</th>
      <th>max5</th>
      <th>max6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>45.473068</td>
      <td>6.290114</td>
      <td>22.810909</td>
      <td>6.761250</td>
      <td>24.320114</td>
      <td>6.461932</td>
    </tr>
    <tr>
      <th>std</th>
      <td>4.394362</td>
      <td>5.062729</td>
      <td>4.875137</td>
      <td>2.183625</td>
      <td>5.741238</td>
      <td>2.518921</td>
    </tr>
    <tr>
      <th>min</th>
      <td>30.000000</td>
      <td>0.430000</td>
      <td>11.330000</td>
      <td>2.490000</td>
      <td>12.000000</td>
      <td>1.790000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>44.585000</td>
      <td>1.767500</td>
      <td>21.000000</td>
      <td>5.165000</td>
      <td>21.000000</td>
      <td>4.500000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>45.750000</td>
      <td>4.500000</td>
      <td>23.500000</td>
      <td>6.070000</td>
      <td>23.500000</td>
      <td>6.310000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>47.750000</td>
      <td>10.930000</td>
      <td>25.580000</td>
      <td>9.000000</td>
      <td>25.500000</td>
      <td>8.765000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>56.250000</td>
      <td>17.240000</td>
      <td>35.000000</td>
      <td>11.420000</td>
      <td>40.330000</td>
      <td>13.610000</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
features.iloc[:,18:24].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mean1</th>
      <th>mean2</th>
      <th>mean3</th>
      <th>mean4</th>
      <th>mean5</th>
      <th>mean6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>38.917357</td>
      <td>1.459119</td>
      <td>14.278229</td>
      <td>1.502218</td>
      <td>16.035170</td>
      <td>1.620686</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.335718</td>
      <td>1.574164</td>
      <td>4.008380</td>
      <td>1.166114</td>
      <td>5.675593</td>
      <td>1.154812</td>
    </tr>
    <tr>
      <th>min</th>
      <td>24.562958</td>
      <td>0.007167</td>
      <td>4.382208</td>
      <td>0.332063</td>
      <td>4.303979</td>
      <td>0.383292</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>34.845755</td>
      <td>0.366630</td>
      <td>12.760526</td>
      <td>0.614672</td>
      <td>13.390958</td>
      <td>0.730656</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>39.433792</td>
      <td>0.489365</td>
      <td>15.299646</td>
      <td>0.837208</td>
      <td>15.993198</td>
      <td>0.930188</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>43.013250</td>
      <td>2.731505</td>
      <td>16.531083</td>
      <td>2.988917</td>
      <td>17.376687</td>
      <td>3.005229</td>
    </tr>
    <tr>
      <th>max</th>
      <td>48.004167</td>
      <td>4.576562</td>
      <td>22.183625</td>
      <td>3.365375</td>
      <td>35.588458</td>
      <td>3.530500</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
features.iloc[:,24:30].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>median1</th>
      <th>median2</th>
      <th>median3</th>
      <th>median4</th>
      <th>median5</th>
      <th>median6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>38.856705</td>
      <td>1.288068</td>
      <td>14.613352</td>
      <td>1.313352</td>
      <td>16.239602</td>
      <td>1.445511</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.440054</td>
      <td>1.412244</td>
      <td>4.036396</td>
      <td>1.145586</td>
      <td>5.813782</td>
      <td>1.086474</td>
    </tr>
    <tr>
      <th>min</th>
      <td>24.250000</td>
      <td>0.000000</td>
      <td>4.500000</td>
      <td>0.000000</td>
      <td>2.250000</td>
      <td>0.430000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>35.447500</td>
      <td>0.430000</td>
      <td>12.740000</td>
      <td>0.470000</td>
      <td>13.447500</td>
      <td>0.500000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>39.415000</td>
      <td>0.500000</td>
      <td>15.330000</td>
      <td>0.500000</td>
      <td>16.125000</td>
      <td>0.830000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>43.250000</td>
      <td>2.185000</td>
      <td>16.690000</td>
      <td>2.860000</td>
      <td>17.812500</td>
      <td>2.615000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>48.000000</td>
      <td>4.260000</td>
      <td>23.000000</td>
      <td>3.200000</td>
      <td>36.000000</td>
      <td>3.340000</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
features.iloc[:,30:36].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>min1</th>
      <th>min2</th>
      <th>min3</th>
      <th>min4</th>
      <th>min5</th>
      <th>min6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.000000</td>
      <td>88.0</td>
      <td>88.000000</td>
      <td>88.0</td>
      <td>88.000000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>29.036705</td>
      <td>0.0</td>
      <td>3.101477</td>
      <td>0.0</td>
      <td>4.676364</td>
      <td>0.004886</td>
    </tr>
    <tr>
      <th>std</th>
      <td>9.569975</td>
      <td>0.0</td>
      <td>2.956462</td>
      <td>0.0</td>
      <td>6.124001</td>
      <td>0.045838</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>21.875000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>28.625000</td>
      <td>0.0</td>
      <td>2.250000</td>
      <td>0.0</td>
      <td>2.500000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>36.270000</td>
      <td>0.0</td>
      <td>6.000000</td>
      <td>0.0</td>
      <td>6.812500</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>48.000000</td>
      <td>0.0</td>
      <td>8.500000</td>
      <td>0.0</td>
      <td>29.000000</td>
      <td>0.430000</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
features.iloc[:,36:42].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>std1</th>
      <th>std2</th>
      <th>std3</th>
      <th>std4</th>
      <th>std5</th>
      <th>std6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
      <td>88.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.988893</td>
      <td>0.987459</td>
      <td>3.577925</td>
      <td>1.067130</td>
      <td>3.537752</td>
      <td>1.048533</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.772153</td>
      <td>0.884105</td>
      <td>0.946710</td>
      <td>0.458242</td>
      <td>1.024898</td>
      <td>0.517617</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.032038</td>
      <td>0.055106</td>
      <td>1.745801</td>
      <td>0.409145</td>
      <td>1.745970</td>
      <td>0.388372</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.468289</td>
      <td>0.320845</td>
      <td>2.946473</td>
      <td>0.716983</td>
      <td>2.942275</td>
      <td>0.613688</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3.212700</td>
      <td>0.455526</td>
      <td>3.457400</td>
      <td>0.903342</td>
      <td>3.265060</td>
      <td>0.838716</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>4.552490</td>
      <td>1.900389</td>
      <td>3.987098</td>
      <td>1.600137</td>
      <td>4.074511</td>
      <td>1.642064</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7.684146</td>
      <td>2.625516</td>
      <td>7.638935</td>
      <td>1.861730</td>
      <td>7.853427</td>
      <td>1.963685</td>
    </tr>
  </tbody>
</table>
</div>

By these 7 tables of different features,
I choose to use max, mean and std.

(d) Binary Classification Using Logistic Regression

i. Depict scatter plots of bending and other data.

In [24]:
bending_dfs = train_dfs[0:9]
other_dfs = train_dfs[9:]

In [25]:
bending_dfs[0].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Columns: time</th>
      <th>avg_rss12</th>
      <th>var_rss12</th>
      <th>avg_rss13</th>
      <th>var_rss13</th>
      <th>avg_rss23</th>
      <th>var_rss23</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>42.00</td>
      <td>0.71</td>
      <td>21.25</td>
      <td>0.43</td>
      <td>30.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>250</td>
      <td>41.50</td>
      <td>0.50</td>
      <td>20.25</td>
      <td>1.48</td>
      <td>31.25</td>
      <td>1.09</td>
    </tr>
    <tr>
      <th>2</th>
      <td>500</td>
      <td>41.50</td>
      <td>0.50</td>
      <td>14.25</td>
      <td>1.92</td>
      <td>33.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>750</td>
      <td>40.75</td>
      <td>0.83</td>
      <td>15.75</td>
      <td>0.43</td>
      <td>33.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1000</td>
      <td>40.00</td>
      <td>0.71</td>
      <td>20.00</td>
      <td>2.74</td>
      <td>32.75</td>
      <td>0.43</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
df_bending = bending_dfs[0]
df_other = other_dfs[0]
for i in range(1,len(bending_dfs)):
    df_bending = pd.concat([df_bending,bending_dfs[i]])
    
for j in range(1,len(other_dfs)):
    df_other = pd.concat([df_other,other_dfs[j]])

In [27]:
df_bending.shape

(4320, 7)

In [28]:
def feature_select(dfs):
    features_selected = pd.DataFrame(columns=['max1','mean1','std1','max2','mean2','std2',
        'max6','mean6','std6'])
    for i in range(0,len(dfs)):
        df = dfs[i]
        dict = {}
        for j in [1,2,6]:
            dict['max'+str(j)] = df[df.columns[j]].max(axis = 0)
            dict['mean'+str(j)] = df[df.columns[j]].mean(axis = 0)
            dict['std'+str(j)] = df[df.columns[j]].std(axis = 0)
        features_selected = features_selected.append(pd.DataFrame(dict,index=[i + 1]))
    return features_selected

In [32]:
bending_training_features = feature_select(bending_dfs)
other_training_features = feature_select(other_dfs)

In [32]:
bending_training_features

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>max1</th>
      <th>max2</th>
      <th>max6</th>
      <th>mean1</th>
      <th>mean2</th>
      <th>mean6</th>
      <th>std1</th>
      <th>std2</th>
      <th>std6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>47.40</td>
      <td>1.70</td>
      <td>1.79</td>
      <td>43.954500</td>
      <td>0.426250</td>
      <td>0.493292</td>
      <td>1.558835</td>
      <td>0.338690</td>
      <td>0.513506</td>
    </tr>
    <tr>
      <th>2</th>
      <td>47.75</td>
      <td>3.00</td>
      <td>2.18</td>
      <td>42.179813</td>
      <td>0.696042</td>
      <td>0.613521</td>
      <td>3.670666</td>
      <td>0.630860</td>
      <td>0.524317</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45.75</td>
      <td>2.83</td>
      <td>1.79</td>
      <td>41.678063</td>
      <td>0.535979</td>
      <td>0.383292</td>
      <td>2.243490</td>
      <td>0.405469</td>
      <td>0.389164</td>
    </tr>
    <tr>
      <th>4</th>
      <td>48.00</td>
      <td>1.58</td>
      <td>5.26</td>
      <td>43.454958</td>
      <td>0.378083</td>
      <td>0.679646</td>
      <td>1.386098</td>
      <td>0.315566</td>
      <td>0.622534</td>
    </tr>
    <tr>
      <th>5</th>
      <td>48.00</td>
      <td>1.50</td>
      <td>2.96</td>
      <td>43.969125</td>
      <td>0.413125</td>
      <td>0.555313</td>
      <td>1.618364</td>
      <td>0.263111</td>
      <td>0.487826</td>
    </tr>
    <tr>
      <th>6</th>
      <td>50.00</td>
      <td>9.90</td>
      <td>13.61</td>
      <td>32.586208</td>
      <td>0.516125</td>
      <td>1.162042</td>
      <td>6.238143</td>
      <td>0.789957</td>
      <td>1.332980</td>
    </tr>
    <tr>
      <th>7</th>
      <td>33.00</td>
      <td>1.00</td>
      <td>6.40</td>
      <td>29.881938</td>
      <td>0.256438</td>
      <td>0.701625</td>
      <td>1.153837</td>
      <td>0.275833</td>
      <td>0.481103</td>
    </tr>
    <tr>
      <th>8</th>
      <td>45.50</td>
      <td>6.40</td>
      <td>6.73</td>
      <td>30.938104</td>
      <td>0.467167</td>
      <td>1.107354</td>
      <td>7.684146</td>
      <td>0.734444</td>
      <td>1.080842</td>
    </tr>
    <tr>
      <th>9</th>
      <td>47.50</td>
      <td>6.38</td>
      <td>4.92</td>
      <td>31.058250</td>
      <td>0.405458</td>
      <td>1.098104</td>
      <td>4.829794</td>
      <td>0.566668</td>
      <td>0.831480</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
print(bending_training_features.shape)
print(other_training_features.shape)

(9, 9)
(60, 9)

In [34]:
bend_action = []
other_action = []
for i in range(0,bending_training_features.shape[0]+1):
    bend_action.append("bending")
for i in range(0,other_training_features.shape[0]+1):
    other_action.append("other")


bending_training_features['action'] = pd.Series(bend_action)
other_training_features['action'] = pd.Series(other_action)

df_training_bending_and_other = pd.concat([bending_training_features,other_training_features])

In [35]:
df_training_bending_and_other

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>max1</th>
      <th>max2</th>
      <th>max6</th>
      <th>mean1</th>
      <th>mean2</th>
      <th>mean6</th>
      <th>std1</th>
      <th>std2</th>
      <th>std6</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>47.40</td>
      <td>1.70</td>
      <td>1.79</td>
      <td>43.954500</td>
      <td>0.426250</td>
      <td>0.493292</td>
      <td>1.558835</td>
      <td>0.338690</td>
      <td>0.513506</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>2</th>
      <td>47.75</td>
      <td>3.00</td>
      <td>2.18</td>
      <td>42.179813</td>
      <td>0.696042</td>
      <td>0.613521</td>
      <td>3.670666</td>
      <td>0.630860</td>
      <td>0.524317</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45.75</td>
      <td>2.83</td>
      <td>1.79</td>
      <td>41.678063</td>
      <td>0.535979</td>
      <td>0.383292</td>
      <td>2.243490</td>
      <td>0.405469</td>
      <td>0.389164</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>4</th>
      <td>48.00</td>
      <td>1.58</td>
      <td>5.26</td>
      <td>43.454958</td>
      <td>0.378083</td>
      <td>0.679646</td>
      <td>1.386098</td>
      <td>0.315566</td>
      <td>0.622534</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>5</th>
      <td>48.00</td>
      <td>1.50</td>
      <td>2.96</td>
      <td>43.969125</td>
      <td>0.413125</td>
      <td>0.555313</td>
      <td>1.618364</td>
      <td>0.263111</td>
      <td>0.487826</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>6</th>
      <td>50.00</td>
      <td>9.90</td>
      <td>13.61</td>
      <td>32.586208</td>
      <td>0.516125</td>
      <td>1.162042</td>
      <td>6.238143</td>
      <td>0.789957</td>
      <td>1.332980</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>7</th>
      <td>33.00</td>
      <td>1.00</td>
      <td>6.40</td>
      <td>29.881938</td>
      <td>0.256438</td>
      <td>0.701625</td>
      <td>1.153837</td>
      <td>0.275833</td>
      <td>0.481103</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>8</th>
      <td>45.50</td>
      <td>6.40</td>
      <td>6.73</td>
      <td>30.938104</td>
      <td>0.467167</td>
      <td>1.107354</td>
      <td>7.684146</td>
      <td>0.734444</td>
      <td>1.080842</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>9</th>
      <td>47.50</td>
      <td>6.38</td>
      <td>4.92</td>
      <td>31.058250</td>
      <td>0.405458</td>
      <td>1.098104</td>
      <td>4.829794</td>
      <td>0.566668</td>
      <td>0.831480</td>
      <td>bending</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45.00</td>
      <td>10.47</td>
      <td>8.99</td>
      <td>36.819521</td>
      <td>2.600146</td>
      <td>2.887562</td>
      <td>3.900459</td>
      <td>1.821404</td>
      <td>1.723094</td>
      <td>other</td>
    </tr>
    <tr>
      <th>2</th>
      <td>44.33</td>
      <td>10.43</td>
      <td>9.18</td>
      <td>36.541667</td>
      <td>2.847958</td>
      <td>3.225458</td>
      <td>4.018922</td>
      <td>1.892397</td>
      <td>1.769758</td>
      <td>other</td>
    </tr>
    <tr>
      <th>3</th>
      <td>44.25</td>
      <td>12.60</td>
      <td>9.39</td>
      <td>35.752354</td>
      <td>3.328104</td>
      <td>3.069667</td>
      <td>4.614802</td>
      <td>2.140576</td>
      <td>1.748326</td>
      <td>other</td>
    </tr>
    <tr>
      <th>4</th>
      <td>43.75</td>
      <td>11.20</td>
      <td>8.50</td>
      <td>35.879875</td>
      <td>3.414312</td>
      <td>3.093021</td>
      <td>4.614878</td>
      <td>2.237955</td>
      <td>1.626034</td>
      <td>other</td>
    </tr>
    <tr>
      <th>5</th>
      <td>43.50</td>
      <td>9.71</td>
      <td>11.15</td>
      <td>36.244083</td>
      <td>2.736021</td>
      <td>3.530500</td>
      <td>3.822016</td>
      <td>2.092002</td>
      <td>1.963685</td>
      <td>other</td>
    </tr>
    <tr>
      <th>6</th>
      <td>45.00</td>
      <td>8.58</td>
      <td>9.34</td>
      <td>37.177042</td>
      <td>2.374208</td>
      <td>2.921729</td>
      <td>3.581301</td>
      <td>1.601799</td>
      <td>1.852600</td>
      <td>other</td>
    </tr>
    <tr>
      <th>7</th>
      <td>44.00</td>
      <td>12.28</td>
      <td>9.98</td>
      <td>36.228396</td>
      <td>2.831687</td>
      <td>3.480687</td>
      <td>3.528617</td>
      <td>1.886689</td>
      <td>1.827769</td>
      <td>other</td>
    </tr>
    <tr>
      <th>8</th>
      <td>44.33</td>
      <td>12.89</td>
      <td>8.19</td>
      <td>36.687292</td>
      <td>2.973042</td>
      <td>3.073312</td>
      <td>3.529404</td>
      <td>2.073903</td>
      <td>1.629675</td>
      <td>other</td>
    </tr>
    <tr>
      <th>9</th>
      <td>45.00</td>
      <td>10.84</td>
      <td>9.50</td>
      <td>37.114312</td>
      <td>2.730000</td>
      <td>3.076354</td>
      <td>3.710385</td>
      <td>1.924366</td>
      <td>1.824534</td>
      <td>other</td>
    </tr>
    <tr>
      <th>10</th>
      <td>44.75</td>
      <td>11.68</td>
      <td>8.81</td>
      <td>36.863375</td>
      <td>2.757312</td>
      <td>2.773312</td>
      <td>3.555787</td>
      <td>2.115958</td>
      <td>1.569919</td>
      <td>other</td>
    </tr>
    <tr>
      <th>11</th>
      <td>44.25</td>
      <td>8.64</td>
      <td>8.34</td>
      <td>36.957458</td>
      <td>2.420083</td>
      <td>2.934625</td>
      <td>3.434863</td>
      <td>1.724901</td>
      <td>1.631380</td>
      <td>other</td>
    </tr>
    <tr>
      <th>12</th>
      <td>44.67</td>
      <td>10.76</td>
      <td>8.75</td>
      <td>37.144833</td>
      <td>2.419062</td>
      <td>2.822437</td>
      <td>3.758904</td>
      <td>1.643175</td>
      <td>1.637183</td>
      <td>other</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30.00</td>
      <td>1.79</td>
      <td>4.50</td>
      <td>27.716375</td>
      <td>0.363688</td>
      <td>0.735396</td>
      <td>1.442253</td>
      <td>0.394817</td>
      <td>0.612834</td>
      <td>other</td>
    </tr>
    <tr>
      <th>14</th>
      <td>48.25</td>
      <td>0.43</td>
      <td>2.50</td>
      <td>48.004167</td>
      <td>0.007167</td>
      <td>0.641229</td>
      <td>0.032038</td>
      <td>0.055106</td>
      <td>0.388372</td>
      <td>other</td>
    </tr>
    <tr>
      <th>15</th>
      <td>41.00</td>
      <td>1.00</td>
      <td>3.49</td>
      <td>39.667833</td>
      <td>0.583604</td>
      <td>0.635938</td>
      <td>0.280158</td>
      <td>0.194585</td>
      <td>0.608399</td>
      <td>other</td>
    </tr>
    <tr>
      <th>16</th>
      <td>40.00</td>
      <td>1.00</td>
      <td>4.06</td>
      <td>39.433792</td>
      <td>0.422104</td>
      <td>0.582708</td>
      <td>0.208558</td>
      <td>0.160379</td>
      <td>0.438442</td>
      <td>other</td>
    </tr>
    <tr>
      <th>17</th>
      <td>56.25</td>
      <td>8.49</td>
      <td>5.72</td>
      <td>47.325125</td>
      <td>0.274313</td>
      <td>0.766167</td>
      <td>5.961280</td>
      <td>0.562729</td>
      <td>0.723953</td>
      <td>other</td>
    </tr>
    <tr>
      <th>18</th>
      <td>30.00</td>
      <td>1.79</td>
      <td>4.50</td>
      <td>27.716375</td>
      <td>0.363688</td>
      <td>0.734271</td>
      <td>1.442253</td>
      <td>0.394817</td>
      <td>0.613688</td>
      <td>other</td>
    </tr>
    <tr>
      <th>19</th>
      <td>51.00</td>
      <td>4.85</td>
      <td>4.97</td>
      <td>42.706063</td>
      <td>0.519813</td>
      <td>0.549313</td>
      <td>3.537476</td>
      <td>0.484086</td>
      <td>0.648403</td>
      <td>other</td>
    </tr>
    <tr>
      <th>20</th>
      <td>41.00</td>
      <td>1.00</td>
      <td>3.49</td>
      <td>39.667833</td>
      <td>0.583604</td>
      <td>0.635938</td>
      <td>0.280158</td>
      <td>0.194585</td>
      <td>0.608399</td>
      <td>other</td>
    </tr>
    <tr>
      <th>21</th>
      <td>40.67</td>
      <td>1.00</td>
      <td>3.19</td>
      <td>39.506187</td>
      <td>0.496479</td>
      <td>0.622917</td>
      <td>1.817498</td>
      <td>0.145546</td>
      <td>0.498889</td>
      <td>other</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>31</th>
      <td>46.00</td>
      <td>1.12</td>
      <td>4.30</td>
      <td>44.753958</td>
      <td>0.153917</td>
      <td>0.764083</td>
      <td>0.520309</td>
      <td>0.258815</td>
      <td>0.652091</td>
      <td>other</td>
    </tr>
    <tr>
      <th>32</th>
      <td>45.75</td>
      <td>12.19</td>
      <td>6.26</td>
      <td>36.560063</td>
      <td>0.422167</td>
      <td>0.854833</td>
      <td>5.915081</td>
      <td>0.772992</td>
      <td>0.717603</td>
      <td>other</td>
    </tr>
    <tr>
      <th>33</th>
      <td>38.67</td>
      <td>2.49</td>
      <td>5.12</td>
      <td>32.905979</td>
      <td>0.456750</td>
      <td>0.791354</td>
      <td>3.505776</td>
      <td>0.538783</td>
      <td>0.755739</td>
      <td>other</td>
    </tr>
    <tr>
      <th>34</th>
      <td>50.75</td>
      <td>6.06</td>
      <td>5.17</td>
      <td>38.888375</td>
      <td>0.383438</td>
      <td>0.840208</td>
      <td>3.642901</td>
      <td>0.488937</td>
      <td>0.750636</td>
      <td>other</td>
    </tr>
    <tr>
      <th>35</th>
      <td>45.00</td>
      <td>1.12</td>
      <td>6.36</td>
      <td>42.821983</td>
      <td>0.335678</td>
      <td>0.856013</td>
      <td>0.891818</td>
      <td>0.260357</td>
      <td>0.764801</td>
      <td>other</td>
    </tr>
    <tr>
      <th>36</th>
      <td>46.50</td>
      <td>1.50</td>
      <td>5.45</td>
      <td>43.190854</td>
      <td>0.266271</td>
      <td>0.806229</td>
      <td>1.230345</td>
      <td>0.271588</td>
      <td>0.645476</td>
      <td>other</td>
    </tr>
    <tr>
      <th>37</th>
      <td>45.80</td>
      <td>2.12</td>
      <td>6.65</td>
      <td>42.419917</td>
      <td>0.460563</td>
      <td>1.226271</td>
      <td>2.520129</td>
      <td>0.387405</td>
      <td>0.891988</td>
      <td>other</td>
    </tr>
    <tr>
      <th>38</th>
      <td>48.25</td>
      <td>2.12</td>
      <td>6.85</td>
      <td>42.516958</td>
      <td>0.440688</td>
      <td>0.977417</td>
      <td>2.195751</td>
      <td>0.349430</td>
      <td>0.853280</td>
      <td>other</td>
    </tr>
    <tr>
      <th>39</th>
      <td>45.50</td>
      <td>2.60</td>
      <td>4.00</td>
      <td>42.959354</td>
      <td>0.352875</td>
      <td>0.748479</td>
      <td>1.500878</td>
      <td>0.313585</td>
      <td>0.461152</td>
      <td>other</td>
    </tr>
    <tr>
      <th>40</th>
      <td>47.33</td>
      <td>2.17</td>
      <td>3.77</td>
      <td>42.674583</td>
      <td>0.419167</td>
      <td>0.702042</td>
      <td>2.384170</td>
      <td>0.368383</td>
      <td>0.567451</td>
      <td>other</td>
    </tr>
    <tr>
      <th>41</th>
      <td>45.75</td>
      <td>2.83</td>
      <td>3.83</td>
      <td>43.187521</td>
      <td>0.271271</td>
      <td>0.645458</td>
      <td>2.491162</td>
      <td>0.328807</td>
      <td>0.567419</td>
      <td>other</td>
    </tr>
    <tr>
      <th>42</th>
      <td>47.33</td>
      <td>4.50</td>
      <td>5.91</td>
      <td>44.441187</td>
      <td>0.346604</td>
      <td>1.155083</td>
      <td>2.417797</td>
      <td>0.358113</td>
      <td>0.842087</td>
      <td>other</td>
    </tr>
    <tr>
      <th>43</th>
      <td>46.67</td>
      <td>2.95</td>
      <td>4.64</td>
      <td>42.648521</td>
      <td>0.402833</td>
      <td>0.917354</td>
      <td>2.395338</td>
      <td>0.413719</td>
      <td>0.709638</td>
      <td>other</td>
    </tr>
    <tr>
      <th>44</th>
      <td>47.50</td>
      <td>1.92</td>
      <td>6.18</td>
      <td>43.720021</td>
      <td>0.366708</td>
      <td>1.039688</td>
      <td>2.384105</td>
      <td>0.374117</td>
      <td>0.916657</td>
      <td>other</td>
    </tr>
    <tr>
      <th>45</th>
      <td>47.75</td>
      <td>2.18</td>
      <td>4.32</td>
      <td>44.471146</td>
      <td>0.290479</td>
      <td>0.927375</td>
      <td>1.772553</td>
      <td>0.392914</td>
      <td>0.756436</td>
      <td>other</td>
    </tr>
    <tr>
      <th>46</th>
      <td>48.00</td>
      <td>4.50</td>
      <td>6.00</td>
      <td>46.224937</td>
      <td>0.312354</td>
      <td>0.882583</td>
      <td>1.748315</td>
      <td>0.464541</td>
      <td>0.668423</td>
      <td>other</td>
    </tr>
    <tr>
      <th>47</th>
      <td>48.00</td>
      <td>4.60</td>
      <td>6.58</td>
      <td>46.932208</td>
      <td>0.429667</td>
      <td>0.991125</td>
      <td>1.832665</td>
      <td>0.367267</td>
      <td>0.855329</td>
      <td>other</td>
    </tr>
    <tr>
      <th>48</th>
      <td>47.67</td>
      <td>1.66</td>
      <td>4.50</td>
      <td>45.399625</td>
      <td>0.460146</td>
      <td>0.795104</td>
      <td>1.328121</td>
      <td>0.269889</td>
      <td>0.503007</td>
      <td>other</td>
    </tr>
    <tr>
      <th>49</th>
      <td>51.25</td>
      <td>13.55</td>
      <td>8.32</td>
      <td>34.253521</td>
      <td>4.457896</td>
      <td>3.500750</td>
      <td>4.940741</td>
      <td>2.387192</td>
      <td>1.692378</td>
      <td>other</td>
    </tr>
    <tr>
      <th>50</th>
      <td>45.33</td>
      <td>14.67</td>
      <td>8.32</td>
      <td>33.586875</td>
      <td>4.576562</td>
      <td>3.259729</td>
      <td>4.650935</td>
      <td>2.461077</td>
      <td>1.640243</td>
      <td>other</td>
    </tr>
    <tr>
      <th>51</th>
      <td>45.50</td>
      <td>13.47</td>
      <td>9.67</td>
      <td>34.322750</td>
      <td>4.456333</td>
      <td>3.432562</td>
      <td>4.752477</td>
      <td>2.599284</td>
      <td>1.732727</td>
      <td>other</td>
    </tr>
    <tr>
      <th>52</th>
      <td>46.00</td>
      <td>12.47</td>
      <td>10.00</td>
      <td>34.546229</td>
      <td>4.371958</td>
      <td>3.338125</td>
      <td>4.842294</td>
      <td>2.360448</td>
      <td>1.656742</td>
      <td>other</td>
    </tr>
    <tr>
      <th>53</th>
      <td>46.25</td>
      <td>14.82</td>
      <td>9.51</td>
      <td>34.873229</td>
      <td>4.380583</td>
      <td>3.424646</td>
      <td>4.531720</td>
      <td>2.435437</td>
      <td>1.690960</td>
      <td>other</td>
    </tr>
    <tr>
      <th>54</th>
      <td>44.00</td>
      <td>13.86</td>
      <td>9.00</td>
      <td>34.473188</td>
      <td>4.359312</td>
      <td>3.340458</td>
      <td>4.796705</td>
      <td>2.388746</td>
      <td>1.699114</td>
      <td>other</td>
    </tr>
    <tr>
      <th>55</th>
      <td>46.00</td>
      <td>16.20</td>
      <td>8.50</td>
      <td>35.193333</td>
      <td>4.321021</td>
      <td>3.241958</td>
      <td>4.751868</td>
      <td>2.625516</td>
      <td>1.769182</td>
      <td>other</td>
    </tr>
    <tr>
      <th>56</th>
      <td>46.25</td>
      <td>12.68</td>
      <td>9.39</td>
      <td>34.763333</td>
      <td>4.223792</td>
      <td>3.288271</td>
      <td>4.742208</td>
      <td>2.278004</td>
      <td>1.647528</td>
      <td>other</td>
    </tr>
    <tr>
      <th>57</th>
      <td>51.00</td>
      <td>12.21</td>
      <td>10.21</td>
      <td>34.935813</td>
      <td>4.115750</td>
      <td>3.280021</td>
      <td>4.645944</td>
      <td>2.335243</td>
      <td>1.700918</td>
      <td>other</td>
    </tr>
    <tr>
      <th>58</th>
      <td>47.67</td>
      <td>12.48</td>
      <td>8.01</td>
      <td>34.333042</td>
      <td>4.396958</td>
      <td>3.261583</td>
      <td>4.948770</td>
      <td>2.568680</td>
      <td>1.617290</td>
      <td>other</td>
    </tr>
    <tr>
      <th>59</th>
      <td>45.75</td>
      <td>15.37</td>
      <td>8.86</td>
      <td>34.599875</td>
      <td>4.398833</td>
      <td>3.289542</td>
      <td>4.731790</td>
      <td>2.538521</td>
      <td>1.680170</td>
      <td>other</td>
    </tr>
    <tr>
      <th>60</th>
      <td>43.67</td>
      <td>17.24</td>
      <td>9.42</td>
      <td>34.225875</td>
      <td>4.354500</td>
      <td>3.479542</td>
      <td>4.441798</td>
      <td>2.518991</td>
      <td>1.761146</td>
      <td>other</td>
    </tr>
  </tbody>
</table>
<p>69 rows  10 columns</p>
</div>

In [37]:
sns.set(style="ticks")
sns.pairplot(df_training_bending_and_other, hue="action")
plt.show()

(d)ii. 

Break each time series in your training set into two (approximately) equal
length time series.

In [38]:
# break training set.
bending_dfs_split_2 = []

for df in bending_dfs:
    df_split_1 = df.iloc[:240,:]
    df_split_2 = df.iloc[240:,:]
    bending_dfs_split_2.append(df_split_1)
    bending_dfs_split_2.append(df_split_2)

len(bending_dfs_split_2)

18

In [39]:
df = bending_dfs[0]
df.shape[0]

480

In [40]:
def split_df(dfs,l):
    dfs_split = []
    for df in dfs:
        for index in range(0,df.shape[0],l):
            df_split = df.iloc[0:l,:]
            dfs_split.append(df_split)
    return dfs_split

In [41]:
bending_dfs_split_240 = split_df(bending_dfs,240)
other_dfs_split_240 = split_df(other_dfs,240)

In [42]:
print(len(bending_dfs_split_240))
print(len(other_dfs_split_240))

18
120

In [43]:
bending_training_features_split_240

NameError: name 'bending_training_features_split_240' is not defined

(d)iii. 

Break each time series